.container{
    text-align: center;
    background-color: aquamarine;
    height: 120%;
    width: 120%;
    position: absolute;
}
img{
    right: 0;
    position: absolute;
    height: 160px;
    width: 110px;
    border: solid 2px blue;
}
.cinzaEscuro{
    top: 55%;
    margin-top: -205px;
    width: 250px;
    height: 60px;
    right: 20px;
    position: absolute;
}
b{
    position: relative;
    top: 10px;
}
.preto{
    border: solid 2px;
    top: 50%;
    margin-top: -135px;
    position: absolute;
    background-color: #444;
    height: 300px;
    width: 250px;
    right: 20px;
}
.cinzaEscuro{
    background-color: #b6b5b5;
}
.bnt{
    margin: 10px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    height: 30px;
    width: 50px;
}
.teclado{
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    left: 6px;
    color: black;
}
.branco{
    height: 40px;
    width: 75px;
}
.laranja{
    height: 40px;
    width: 75px;
    background-color: aliceblue;
}
.verde{
    height: 40px;
    width: 75px;
    background-color: chartreuse;
}