#div{
    font: normal 25pt ariel;
    align-items: center;
    top: 20%;
    left: 35%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.
}
body{
    background-color: blue;
    color: rgba(255, 7, 7);
}